.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
}

.bottom {
    max-height: calc(100vh - 20vh);

    ul {
        display: flex;
        
        .project-title {
            font-weight: bolder;
        }
        
        a {
            color: #FF385C;
        }
    }
}