.about{
    max-height: calc(100vh - 20vh);
    h1{
        padding-bottom: 30px;
    }
    display: block;
    margin: 0 auto;
    width: 60%;
    z-index: inherit;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.25em; 
    // max-height: 100%;
    #school, #projects, #art, #meeting-app{
        text-decoration: none;
        color: #0079EC;
    }
}

.signature {
    background-image: url("./signature.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 80px;
    position: relative;
    top: 30px;
    left: -50px;
}

.image {
    background-image: url("./background.JPG");
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.2;
    position: absolute;
    top: 0;
    left: 60%;
    height: 100%;
    width: 500px;
}