.about {
    max-height: calc(100vh - 20vh);
    h1 {
        padding-bottom: 30px;
    }
    display: block;
    margin: 0 auto;
    width: 60%;
    z-index: inherit;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.25em; 
    #school, #projects, #art, #meeting-app {
        text-decoration: none;
        color: #0079EC;
    }
    .resume-link {
      color: #FF385C;
      text-decoration: none;
      animation: pulsate 1.7s infinite;
      font-weight: bolder;
    }
  }

 
  
  .signature {
      background-image: url("./signature.png");
      background-size: contain;
      background-repeat: no-repeat;
      height: 80px;
      position: relative;
      top: 15px;
      left: -50px;
  }
  
  .image {
      background-image: url("./background.JPG");
      background-size: contain;
      background-repeat: no-repeat;
      opacity: 0.2;
      position: absolute;
      top: 0;
      left: 60%;
      height: 100%;
      width: 500px;
  }
  
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes blurIn {
    from {
      filter: blur(10px);
    }
    to {
      filter: blur(0);
    }
  }
  
  .about {
    opacity: 0; /* Initially hide the entire section */
  }
  
  @keyframes pulsate {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(2);
      opacity: 0.3;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }