.nav-container{
    display: flex;
    align-items: center;
    position: absolute;
    top: 1rem;
    left: 2rem;
    .name-button{
        text-decoration: none;
        color: #2F4858;
        h1{
            font-weight: 500;
            margin-right: 1em;
            font-size: 27px;
            .kname1{
                color: #FF385C;
            }
            .kname2{
                color: #0079EC;
            }
        }
    }
    .socials-container{
        width: 8em;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        font-size: 20px;
    }
}